body{
	background-color: #fff6d8;
	background-image: url(cabecalhos_back.png);
	background-repeat: repeat-y;
	background-position: center left;
	margin-left: 160px;
}
h1, h2{
	color: #906718;
}
h3{
	background-color: #d48b00;
	color: white;
}
hr{
	border: 3px dashed #d48b00;
}
p{
	text-indent: 30px;
}