		h2 {
			background-color: #7faeb7;
		}

		p a:link {
			text-decoration: none;
			color: #004552;
		}

		p a:visited {
			color: #c9e0e5;
		}

		p a:hover {
			color: #ffa700;
		}

		hr {
			border: solid #7faeb7;
		}

		img:hover {
			border: #ffa700 solid thick;
		}

		a:first-of-type img:hover{
			border: #ffa700 solid thick;
			border-radius: 24px 0 0 24px;
		}
		a:last-of-type img:hover{
			border: #ffa700 solid thick;
			border-radius: 0 24px 24px 0;
		}
		
		p {
			font-weight: bolder;
		}